.layui-input-block {
margin-left:130px;
}
.layui-form-label{
	width: 90px;
}
.layui-breadcrumb
{
	visibility:none;
}
.laytable-cell-2-0-3 .laytable-cell-2-0-4 .laytable-cell-2-0-1
{
    overflow:initial;
}
